# Nama: Ihsan Ahmad Kamal
# NIM : 1102201674

In [1]:
import pandas as pd
import numpy as np

In [2]:
path = "epl-goalScorer(20-21).csv"
df = pd.read_csv(path)

10 Player terbanyak mencetak goal

In [9]:
df.sort_values('goals', ascending=False).head(10)[['player_name', 'goals']]

             player_name  goals
0             Harry Kane     23
1          Mohamed Salah     22
2        Bruno Fernandes     18
3          Son Heung-Min     17
4        Patrick Bamford     17
5  Dominic Calvert-Lewin     16
6            Jamie Vardy     15
7          Ollie Watkins     14
8         Ilkay Gündogan     13
9    Alexandre Lacazette     13

10 Player terlama durasi bermain

In [8]:
df.sort_values('time', ascending=False).head(10)[['player_name', 'time']]

               player_name  time
296            Hugo Lloris  3420
378      Emiliano Martinez  3420
311      Kasper Schmeichel  3420
110  Pierre-Emile Højbjerg  3420
40           Stuart Dallas  3412
327           Matt Targett  3407
480            Luke Ayling  3400
204       Andrew Robertson  3391
55         Youri Tielemans  3359
7            Ollie Watkins  3330

10 player terbanyak assist

In [10]:
df.sort_values('assists', ascending=False).head(10)[['player_name', 'assists']]

         player_name  assists
0         Harry Kane       14
2    Bruno Fernandes       12
58   Kevin De Bruyne       11
3      Son Heung-Min       10
51     Jack Grealish       10
15   Marcus Rashford        9
6        Jamie Vardy        9
57          Raphinha        9
49       Timo Werner        8
281  Aaron Cresswell        8

4 player pencetak goal terbanyak dari keseblasan Manchester City

In [11]:
df[df['team_title'] == 'Manchester City'].sort_values('goals', ascending=False).head(4)[['player_name', 'goals']]

        player_name  goals
8    Ilkay Gündogan     13
22  Raheem Sterling     10
28     Riyad Mahrez      9
35    Gabriel Jesus      8

Dari keseblasan mana pencetak gol terbanyak

In [13]:
df[df['goals'] == df['goals'].max()][['player_name', 'team_title', 'goals']]

  player_name team_title  goals
0  Harry Kane  Tottenham     23

Berapa jumlah kartu kuning dan merah yang diterima assist terbanyak?

In [14]:
df[df['assists'] == df['assists'].max()][['player_name', 'assists', 'yellow_cards', 'red_cards']]

  player_name  assists  yellow_cards  red_cards
0  Harry Kane       14             1          0

Siapa yang jumlah assist dan golnya paling banyak dan dari keseblasan mana?

In [15]:
df[(df['assists'] == df['assists'].max()) & (df['goals'] == df['goals'].max())][['player_name', 'assists', 'goals', 'team_title']]

  player_name  assists  goals team_title
0  Harry Kane       14     23  Tottenham

5 keseblasan yang menyumbangkan gol terbanyak

In [16]:
df.groupby('team_title')['goals'].sum().sort_values(ascending=False).head(5)

team_title
Manchester City      77
Manchester United    68
Tottenham            66
Liverpool            64
Leicester            64
Name: goals, dtype: int64

Urutkan pemain berdasarkan jumlah gol terbanyak tanpa mendapatkan kartu sama sekali

In [18]:
df[(df['yellow_cards'] == 0) & (df['red_cards'] == 0)].sort_values('goals', ascending=False)[['player_name', 'goals', 'yellow_cards', 'red_cards']]

         player_name  goals  yellow_cards  red_cards
1      Mohamed Salah     22             0          0
3      Son Heung-Min     17             0          0
13        Chris Wood     12             0          0
28      Riyad Mahrez      9             0          0
29     Harvey Barnes      9             0          0
..               ...    ...           ...        ...
353      Lys Mousset      0             0          0
343    Islam Slimani      0             0          0
341       Moise Kean      0             0          0
340          Emerson      0             0          0
521  Tyrese Francois      0             0          0

[164 rows x 4 columns]